* {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6 {
  height: 30px;
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin-right: -4px;
  border: 1px solid black;
  cursor: pointer;
}
/* 
#b1 {
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  border: 3px solid black;
} */

#b6 {
  border-radius: 0px 5px 5px 0px;
}

.measureMent:hover {
  background-color: red;
  color: white;
  text-decoration: none;
}

.mod1,
.mod2,
.mod3,
.mod4,
.mod5,
.mod6,
.mod7 {
  float: left;
  width: 13.2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(238, 238, 238);
  margin-top: 20px;
}
.mod {
  border: 1px solid black;
}

.mod1 {
  border-left: 1px solid black;
  margin-left: 15px;
}
.mod7 {
  border-right: 1px solid black;
}

.rowFive {
  width: 120%;
  margin-top: 30px;
  text-align: center;
}

.new {
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-left: 370px;
}
.new2 {
  float: left;
  width: 15%;
  text-align: right;
  border: 0.5px solid black;
  margin-top: 10px;
  background-color: rgb(243, 243, 243);
  padding-bottom: 0px;
  margin-bottom: 80px;
}
.new2::after {
  content: "";
  display: table;
  clear: both;
}

.rowSix {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.r6a,
.r6b {
  width: 50%;
}

.r6b input {
  background-color: rgb(243, 243, 243);
  width: 10%;
}

.r6a input {
  background-color: rgb(243, 243, 243);
  width: 10%;
}

.r6a:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  background-color: red;
  color: white;
  padding: 7px;
  width: 100px;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

#blankBox {
  margin-top: 20px;
  width: 1244px;
  height: 300px;
  background-color: lightsteelblue;
  margin-left: 25px;
}

.buttons {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: left;
  margin-left: -6px;
}

.curB1,
.curB2,
.curB4,
.curB5,
.curB6,
.measureMent {
  text-decoration: none;
  padding: 5px;
  border: 1px solid black;
}

.curB1 {
  border-radius: 5px 0px 0px 5px;
}

.curB6 {
  border-radius: 0px 5px 5px 0px;
}

.bb1,
.bb2,
.bb3,
.bb4,
.bb5,
.bb6,
.bb7 {
  border-bottom: 1px solid black;
}
